.info {
    position: absolute;
    margin-left: 850px;
    top: 50px;
    height: 80%;
    min-width: 350px;
    color: #ECC30B;
    text-align: center;
    font-size: 20pt;
    border: solid 5px indianred;
    border-radius: 10px;
}

.info img {
    margin-top: 5%;
    margin-right: 5%;
    height: 40px;
}