@font-face {
    font-family: Rockford;
    src: url('./fonts/RockfordSans-Light.otf');
}

html {
    margin: 0;
    font-family: Rockford;
    background-color: #0A2239;
    min-width: 1000px;
}

.board {
    width: 850px;
    height: 275px;
    border: solid 1px transparent;
}

table {
    margin-left: 225px;
    margin-top: 200px;
}

td {
    margin: 5px;
    height: 45px;
    width: 47px;
    font-size: 20pt;
    text-align: center;
    padding-top: 2px;
    background-color: #ECC30B;
    border: solid 3px #0A2239;
}

.value {
    font-size: 10pt;
}