@font-face {
    font-family: Rockford;
    src: url('./fonts/RockfordSans-Light.otf');
}

html {
    font-family: Rockford;
}

table {
    margin-left: 3%;
    background-color: #ECC30B;
}

tr, td {
    text-align: center;
    font-weight: 900;
}

.cells {
    padding-top: 7px;
}