.rack {
    margin-top: 15px;
    margin-left: 160px;
    margin-bottom: 50px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    width: 500px;
    background-color: indianred;
}

.tile {
    margin: 5px;
    height: 45px;
    width: 47px;
    font-size: 20pt;
    text-align: center;
    padding-top: 2px;
    background-color: #ECC30B;
}

.value {
    font-size: 10pt;
}